src/main/resources/org/springframework/social/slack/config/xml/spring-social-slack-1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:slack="http://www.springframework.org/schema/social/slack"
	targetNamespace="http://www.springframework.org/schema/social/slack">

	<xs:element name="config">
		<xs:complexType>
			<xs:attribute name="app-id" use="required" type="xs:string" />
			<xs:attribute name="app-secret" use="required" type="xs:string" />
			<xs:attribute name="redirect-uri" use="optional" type="xs:string" />
		</xs:complexType>
	</xs:element>

</xs:schema>